langchain>=0.1.0
langchain-core>=0.1.0
langchain-community>=0.0.10
langchain-groq
langchain-google-genai
langchain-chroma
langchain-cohere
langchain-huggingface
langfuse
opentelemetry-api
opentelemetry-sdk
chromadb
pypdf
sentence-transformers
cohere
ragas
python-dotenv
streamlit
pandas
plotly
numpy
tiktoken
